.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 120px;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    display: flex;
  }
}
.rootline_on {
  border-bottom: 1px solid #ffffff;
}
.columns {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #000000;
  position: relative;
  flex-shrink: 0;
  min-width: 320px;
  flex-grow: 0;
  min-height: 90px;
  max-height: 180px;
  padding: 0px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 5px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 5px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
@media (max-width: 1029px) {
  .columns {
    height: auto;
    width: 100%;
    min-height: 90px;
    min-width: 0;
  }
}
@media (max-width: 1029px) {
  .columns > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (max-width: 1029px) {
  .columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
    width: calc((100% - 2 * 5px) * 6 / 12);
  }
}
@media (max-width: 1029px) {
  .columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
    width: calc((100% - 2 * 5px) * 6 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    height: auto;
    width: 100%;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 5px) * 12 / 12);
  }
}
.column__s9Xot {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__s9Xot {
    display: flex;
  }
}
.link {
  position: relative;
  display: flex;
}
.logo:global(.__wab_instance) {
  max-width: 100%;
  width: 306px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logo:global(.__wab_instance) {
    width: 171px;
    flex-shrink: 0;
  }
}
.column__gAG1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__gAG1 {
    display: none;
  }
}
.freeBox {
  flex-direction: row;
  display: flex;
  width: 100%;
  position: relative;
  margin-right: 0px;
  margin-left: 0px;
  background: #ffffff;
  height: 100%;
  max-height: 50px;
  max-width: 500px;
  min-width: 0;
  min-height: 0;
  border-radius: 40px;
  padding: 1px 0px 0px;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 1029px) {
  .freeBox {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
@media (max-width: 1029px) {
  .freeBox > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox {
    margin-right: 0px;
    height: 91px;
    flex-shrink: 0;
    display: flex;
    padding: 0px 0px 5px;
  }
}
.button__fFkRb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__fFkRb:global(.__wab_instance) {
    width: 76px;
    flex-shrink: 0;
    display: flex;
  }
}
.svg__nmswS {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__yVj0M {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___0Kl1O {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__fAmL:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  width: 76px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__fAmL:global(.__wab_instance) {
    flex-shrink: 0;
    display: flex;
  }
}
.svg___0B1HD {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__e28Sq {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__qLjyc {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__y774:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__y774:global(.__wab_instance) {
    margin-left: calc(0px + 16px) !important;
    width: 74px;
    flex-shrink: 0;
    display: flex;
  }
}
.svg___6XZzx {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__y4Weh {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__rVgpE {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
