.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #000000;
  padding-bottom: 0px;
  overflow: auto;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootloginScreen {
    overflow: auto;
  }
}
.freeBox__pjoUe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBoxloginScreen__pjoUe7UOhc {
  height: 100%;
  min-height: 0;
}
.header:global(.__wab_instance) {
  flex-shrink: 0;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  flex-shrink: 1;
  flex-wrap: nowrap;
  align-self: center;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 7 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 5 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.columnsloginScreen {
  height: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-row-gap: 0px;
  min-height: 0;
}
.columnsloginScreen > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 7 / 12);
}
.columnsloginScreen > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 5 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columnsloginScreen {
    flex-direction: row;
    flex-wrap: wrap-reverse;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columnsloginScreen > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__pFFvJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
  border-right: 1px solid #ffffff;
}
@media (max-width: 1029px) {
  .column__pFFvJ {
    border-width: 0em;
  }
}
.columnloginScreen__pFFvJ7UOhc {
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}
.freeBox__vX7VN {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  margin: 78px 0px 82px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vX7VN {
    margin-right: 0px;
    margin-left: 0px;
    height: 832px;
    margin-top: 22px;
    flex-shrink: 0;
  }
}
.helpingHand:global(.__wab_instance) {
  max-width: 100%;
  width: 499px;
}
.freeBox__ksUMr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 38px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxloginScreen__ksUMr7UOhc {
    width: auto;
  }
}
.fraseMj {
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 0px;
  min-width: 0;
}
.h2__unPmu {
  padding-bottom: 11px;
}
.h1__sIcty {
  height: 269px;
}
.h3__cuPtL {
  height: auto;
}
.h2loginScreen___9GsgP7UOhc {
  padding-top: 0px;
}
.column__qfE1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
  border-left: 1px solid #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__qfE1 {
    border-left-style: none;
  }
}
.columnloginScreen__qfE17UOhc {
  background: #050505;
  padding: 8px 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columnloginScreen__qfE17UOhc {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox__vter {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBoxloginScreen__vter7UOhc {
  display: none;
}
.entrar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg___7IFw6 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__t2G1 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__mauDn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 40px;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wPNed {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__j5O {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__noxk4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: #000000;
  border-radius: 5px;
  padding: 50px;
  border: 1px solid #ffffff;
}
.freeBox__dsZke {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 4px;
  flex-shrink: 0;
  left: auto;
  top: auto;
  align-self: stretch;
  min-width: 0;
  padding: 8px 8px 8px 1px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dsZke {
    left: auto;
    top: auto;
  }
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.textInputloginScreen:global(.__wab_instance) {
  margin-bottom: 30px;
}
.svg__cFv6U {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__x47V {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.passwordInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__r7Kno {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__xoRkY {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.confirma:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.confirmaloginScreen:global(.__wab_instance) {
  width: 200px;
  height: 70px;
  flex-shrink: 0;
  margin: 30px 0px 0px;
}
.svg__uUsLx {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__nssQh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__rIql9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__adYZj {
  width: auto;
  height: auto;
  max-width: 54px;
}
.button__xMm3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.buttonloginScreen__xMm37UOhc:global(.__wab_instance) {
  width: 200px;
  height: 70px;
  flex-shrink: 0;
  display: none;
  margin: 30px 0px 0px;
}
.svg__nL70 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__iMnSg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.entraComGoogle:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.entraComGoogleloginScreen:global(.__wab_instance) {
  width: 200px;
  height: 70px;
  flex-shrink: 0;
}
.svg__mWp6C {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.img__r75K {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__r75K > picture > img {
  object-fit: cover;
}
.img__r75K > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.imgloginScreen__r75K7UOhc {
  width: 26px;
}
.svg__jqyOa {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.logarComGoogle:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 200px;
  height: 70px;
  flex-shrink: 0;
  margin: 15px 0px 0px;
}
.logarComGoogleloginScreen:global(.__wab_instance) {
  display: none;
}
.svg__tzi34 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__hDd67 {
  height: 25px;
}
.img__ldPjc {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  height: 23px;
  margin-left: 4px;
}
.img__ldPjc > picture > img {
  object-fit: contain;
}
.img__ldPjc > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.svg__duWf {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__rzLjS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  margin-top: 20px;
  min-width: 0;
}
.link {
  color: #0076ff;
  text-decoration-line: underline;
}
