.root {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #000000;
  margin-bottom: 40px;
  min-width: 0;
  border-radius: 6px;
  padding: 8px;
  border: 1px solid #d3d3d3;
}
.freeBox__cowRf {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80px;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  border-radius: 6px;
  padding: 10px;
}
.freeBoxcomMedalha__cowRfyJuMv {
  z-index: 6;
}
.freeBox__noCej {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 0px;
  border-bottom: 1px solid #ffffff;
}
.freeBox__mfpq {
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.medalha:global(.__wab_instance) {
  position: relative;
  width: 30px;
  margin-left: 60px;
  z-index: 8;
  flex-shrink: 0;
  display: none;
}
.medalhacomMedalha:global(.__wab_instance) {
  display: flex;
}
.text__d3Lw8 {
  padding-right: 14px;
  padding-left: 8px;
  color: #ffffff;
}
.text__r5KcK {
  padding-left: 8px;
}
.freeBox___6ExQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.registra:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 78px;
  height: 48px;
  flex-shrink: 0;
}
.registracomMedalha:global(.__wab_instance) {
  margin-left: 0px;
  z-index: 5;
}
.svg__bwbxV {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__zu6Lk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
