@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Antic%3Aital%2Cwght%400%2C400&display=swap");

.plasmic_tokens {
  --token-L370CzQRH: #ffffff;
  --plasmic-token-unnamed-style-token: var(--token-L370CzQRH);
}

.plasmic_default_styles {
  --mixin-oVN8Fldhrwi__font-family: "Inter", sans-serif;
  --mixin-oVN8Fldhrwi__font-size: 16px;
  --mixin-oVN8Fldhrwi__font-weight: 400;
  --mixin-oVN8Fldhrwi__font-style: normal;
  --mixin-oVN8Fldhrwi__color: #535353;
  --mixin-oVN8Fldhrwi__text-align: left;
  --mixin-oVN8Fldhrwi__text-transform: none;
  --mixin-oVN8Fldhrwi__line-height: 1.5;
  --mixin-oVN8Fldhrwi__letter-spacing: normal;
  --mixin-oVN8Fldhrwi__white-space: pre-wrap;
  --mixin-oVN8Fldhrwi__user-select: text;
  --mixin-oVN8Fldhrwi__text-decoration-line: none;
  --mixin-oVN8Fldhrwi__text-overflow: clip;
  --mixin-6d2nMBgKEqLS_color: #000000;
  --mixin-6d2nMBgKEqLS_font-weight: 900;
  --mixin-6d2nMBgKEqLS_font-size: 72px;
  --mixin-6d2nMBgKEqLS_line-height: 1;
  --mixin-6d2nMBgKEqLS_letter-spacing: -4px;
  --mixin-6d2nMBgKEqLS_white-space: pre-wrap;
  --mixin-Wb1P5vsdUTel_color: #000000;
  --mixin-Wb1P5vsdUTel_font-size: 48px;
  --mixin-Wb1P5vsdUTel_font-weight: 700;
  --mixin-Wb1P5vsdUTel_letter-spacing: -1px;
  --mixin-Wb1P5vsdUTel_line-height: 1.1;
  --mixin-Wb1P5vsdUTel_white-space: pre-wrap;
  --mixin-e7FzjNHWBVbD_color: #0070f3;
  --mixin-e7FzjNHWBVbD_white-space: pre-wrap;
  --mixin-RNg1twLX7yba_color: #000000;
  --mixin-RNg1twLX7yba_font-size: 32px;
  --mixin-RNg1twLX7yba_font-weight: 600;
  --mixin-RNg1twLX7yba_letter-spacing: -0.8px;
  --mixin-RNg1twLX7yba_line-height: 1.2;
  --mixin-RNg1twLX7yba_white-space: pre-wrap;
  --mixin-beqmMDtK3xWu_color: #000000;
  --mixin-beqmMDtK3xWu_font-size: 24px;
  --mixin-beqmMDtK3xWu_font-weight: 600;
  --mixin-beqmMDtK3xWu_letter-spacing: -0.5px;
  --mixin-beqmMDtK3xWu_line-height: 1.3;
  --mixin-beqmMDtK3xWu_white-space: pre-wrap;
  --mixin-LCQxmsfX8-rG_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-LCQxmsfX8-rG_border-bottom-color: #dddddd;
  --mixin-LCQxmsfX8-rG_border-bottom-style: solid;
  --mixin-LCQxmsfX8-rG_border-bottom-width: 1px;
  --mixin-LCQxmsfX8-rG_border-left-color: #dddddd;
  --mixin-LCQxmsfX8-rG_border-left-style: solid;
  --mixin-LCQxmsfX8-rG_border-left-width: 1px;
  --mixin-LCQxmsfX8-rG_border-right-color: #dddddd;
  --mixin-LCQxmsfX8-rG_border-right-style: solid;
  --mixin-LCQxmsfX8-rG_border-right-width: 1px;
  --mixin-LCQxmsfX8-rG_border-top-color: #dddddd;
  --mixin-LCQxmsfX8-rG_border-top-style: solid;
  --mixin-LCQxmsfX8-rG_border-top-width: 1px;
  --mixin-LCQxmsfX8-rG_border-bottom-left-radius: 3px;
  --mixin-LCQxmsfX8-rG_border-bottom-right-radius: 3px;
  --mixin-LCQxmsfX8-rG_border-top-left-radius: 3px;
  --mixin-LCQxmsfX8-rG_border-top-right-radius: 3px;
  --mixin-LCQxmsfX8-rG_font-family: "Inconsolata";
  --mixin-LCQxmsfX8-rG_padding-bottom: 1px;
  --mixin-LCQxmsfX8-rG_padding-left: 4px;
  --mixin-LCQxmsfX8-rG_padding-right: 4px;
  --mixin-LCQxmsfX8-rG_padding-top: 1px;
  --mixin-LCQxmsfX8-rG_white-space: pre-wrap;
  --mixin-ifYRiWCzt9F7_border-left-color: #dddddd;
  --mixin-ifYRiWCzt9F7_border-left-style: solid;
  --mixin-ifYRiWCzt9F7_border-left-width: 3px;
  --mixin-ifYRiWCzt9F7_color: #888888;
  --mixin-ifYRiWCzt9F7_padding-left: 10px;
  --mixin-ifYRiWCzt9F7_white-space: pre-wrap;
  --mixin-uv2DN5GnCleh_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-uv2DN5GnCleh_border-bottom-color: #dddddd;
  --mixin-uv2DN5GnCleh_border-bottom-style: solid;
  --mixin-uv2DN5GnCleh_border-bottom-width: 1px;
  --mixin-uv2DN5GnCleh_border-left-color: #dddddd;
  --mixin-uv2DN5GnCleh_border-left-style: solid;
  --mixin-uv2DN5GnCleh_border-left-width: 1px;
  --mixin-uv2DN5GnCleh_border-right-color: #dddddd;
  --mixin-uv2DN5GnCleh_border-right-style: solid;
  --mixin-uv2DN5GnCleh_border-right-width: 1px;
  --mixin-uv2DN5GnCleh_border-top-color: #dddddd;
  --mixin-uv2DN5GnCleh_border-top-style: solid;
  --mixin-uv2DN5GnCleh_border-top-width: 1px;
  --mixin-uv2DN5GnCleh_border-bottom-left-radius: 3px;
  --mixin-uv2DN5GnCleh_border-bottom-right-radius: 3px;
  --mixin-uv2DN5GnCleh_border-top-left-radius: 3px;
  --mixin-uv2DN5GnCleh_border-top-right-radius: 3px;
  --mixin-uv2DN5GnCleh_font-family: "Inconsolata";
  --mixin-uv2DN5GnCleh_padding-bottom: 3px;
  --mixin-uv2DN5GnCleh_padding-left: 6px;
  --mixin-uv2DN5GnCleh_padding-right: 6px;
  --mixin-uv2DN5GnCleh_padding-top: 3px;
  --mixin-uv2DN5GnCleh_white-space: pre-wrap;
  --mixin-Pi0ooO0eRstBx_display: flex;
  --mixin-Pi0ooO0eRstBx_flex-direction: column;
  --mixin-Pi0ooO0eRstBx_align-items: stretch;
  --mixin-Pi0ooO0eRstBx_justify-content: flex-start;
  --mixin-Pi0ooO0eRstBx_list-style-position: outside;
  --mixin-Pi0ooO0eRstBx_padding-left: 40px;
  --mixin-Pi0ooO0eRstBx_position: relative;
  --mixin-Pi0ooO0eRstBx_list-style-type: disc;
  --mixin-Pi0ooO0eRstBx_white-space: pre-wrap;
  --mixin-NH5QH7USmZwVR_display: flex;
  --mixin-NH5QH7USmZwVR_flex-direction: column;
  --mixin-NH5QH7USmZwVR_align-items: stretch;
  --mixin-NH5QH7USmZwVR_justify-content: flex-start;
  --mixin-NH5QH7USmZwVR_list-style-position: outside;
  --mixin-NH5QH7USmZwVR_padding-left: 40px;
  --mixin-NH5QH7USmZwVR_position: relative;
  --mixin-NH5QH7USmZwVR_list-style-type: decimal;
  --mixin-NH5QH7USmZwVR_white-space: pre-wrap;
  --mixin-ujHgTQE1sJOA2_color: #000000;
  --mixin-ujHgTQE1sJOA2_font-size: 20px;
  --mixin-ujHgTQE1sJOA2_font-weight: 600;
  --mixin-ujHgTQE1sJOA2_letter-spacing: -0.3px;
  --mixin-ujHgTQE1sJOA2_line-height: 1.5;
  --mixin-ujHgTQE1sJOA2_white-space: pre-wrap;
  --mixin-1SLoZv0yTeIAP_color: #000000;
  --mixin-1SLoZv0yTeIAP_font-size: 16px;
  --mixin-1SLoZv0yTeIAP_font-weight: 600;
  --mixin-1SLoZv0yTeIAP_line-height: 1.5;
  --mixin-1SLoZv0yTeIAP_white-space: pre-wrap;
  --mixin-HGMwdUSIkcFpI_color: #3291ff;
  --mixin-HGMwdUSIkcFpI_white-space: pre-wrap;
  --mixin-sW7j_OdLwShT8_white-space: pre-wrap;
  --mixin-b5ceh_vZL7SjM_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-oVN8Fldhrwi__font-family);
  font-size: var(--mixin-oVN8Fldhrwi__font-size);
  font-weight: var(--mixin-oVN8Fldhrwi__font-weight);
  font-style: var(--mixin-oVN8Fldhrwi__font-style);
  color: var(--mixin-oVN8Fldhrwi__color);
  text-align: var(--mixin-oVN8Fldhrwi__text-align);
  text-transform: var(--mixin-oVN8Fldhrwi__text-transform);
  line-height: var(--mixin-oVN8Fldhrwi__line-height);
  letter-spacing: var(--mixin-oVN8Fldhrwi__letter-spacing);
  white-space: var(--mixin-oVN8Fldhrwi__white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset :global(.__wab_expr_html_text) h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-6d2nMBgKEqLS_color);
  font-weight: var(--mixin-6d2nMBgKEqLS_font-weight);
  font-size: var(--mixin-6d2nMBgKEqLS_font-size);
  line-height: var(--mixin-6d2nMBgKEqLS_line-height);
  letter-spacing: var(--mixin-6d2nMBgKEqLS_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset :global(.__wab_expr_html_text) h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-Wb1P5vsdUTel_color);
  font-size: var(--mixin-Wb1P5vsdUTel_font-size);
  font-weight: var(--mixin-Wb1P5vsdUTel_font-weight);
  letter-spacing: var(--mixin-Wb1P5vsdUTel_letter-spacing);
  line-height: var(--mixin-Wb1P5vsdUTel_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset :global(.__wab_expr_html_text) a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-e7FzjNHWBVbD_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset :global(.__wab_expr_html_text) h3),
:where(.root_reset.plasmic_default__h3) {
  color: var(--mixin-RNg1twLX7yba_color);
  font-size: var(--mixin-RNg1twLX7yba_font-size);
  font-weight: var(--mixin-RNg1twLX7yba_font-weight);
  letter-spacing: var(--mixin-RNg1twLX7yba_letter-spacing);
  line-height: var(--mixin-RNg1twLX7yba_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset :global(.__wab_expr_html_text) h4),
:where(.root_reset.plasmic_default__h4) {
  color: var(--mixin-beqmMDtK3xWu_color);
  font-size: var(--mixin-beqmMDtK3xWu_font-size);
  font-weight: var(--mixin-beqmMDtK3xWu_font-weight);
  letter-spacing: var(--mixin-beqmMDtK3xWu_letter-spacing);
  line-height: var(--mixin-beqmMDtK3xWu_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset :global(.__wab_expr_html_text) code),
:where(.root_reset.plasmic_default__code) {
  background: #f8f8f8;
  font-family: var(--mixin-LCQxmsfX8-rG_font-family);
  border-radius: var(--mixin-LCQxmsfX8-rG_border-top-left-radius)
    var(--mixin-LCQxmsfX8-rG_border-top-right-radius)
    var(--mixin-LCQxmsfX8-rG_border-bottom-right-radius)
    var(--mixin-LCQxmsfX8-rG_border-bottom-left-radius);
  padding: var(--mixin-LCQxmsfX8-rG_padding-top)
    var(--mixin-LCQxmsfX8-rG_padding-right)
    var(--mixin-LCQxmsfX8-rG_padding-bottom)
    var(--mixin-LCQxmsfX8-rG_padding-left);
  border-top: var(--mixin-LCQxmsfX8-rG_border-top-width)
    var(--mixin-LCQxmsfX8-rG_border-top-style)
    var(--mixin-LCQxmsfX8-rG_border-top-color);
  border-right: var(--mixin-LCQxmsfX8-rG_border-right-width)
    var(--mixin-LCQxmsfX8-rG_border-right-style)
    var(--mixin-LCQxmsfX8-rG_border-right-color);
  border-bottom: var(--mixin-LCQxmsfX8-rG_border-bottom-width)
    var(--mixin-LCQxmsfX8-rG_border-bottom-style)
    var(--mixin-LCQxmsfX8-rG_border-bottom-color);
  border-left: var(--mixin-LCQxmsfX8-rG_border-left-width)
    var(--mixin-LCQxmsfX8-rG_border-left-style)
    var(--mixin-LCQxmsfX8-rG_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset :global(.__wab_expr_html_text) blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-ifYRiWCzt9F7_color);
  padding-left: var(--mixin-ifYRiWCzt9F7_padding-left);
  border-left: var(--mixin-ifYRiWCzt9F7_border-left-width)
    var(--mixin-ifYRiWCzt9F7_border-left-style)
    var(--mixin-ifYRiWCzt9F7_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset :global(.__wab_expr_html_text) pre),
:where(.root_reset.plasmic_default__pre) {
  background: #f8f8f8;
  font-family: var(--mixin-uv2DN5GnCleh_font-family);
  border-radius: var(--mixin-uv2DN5GnCleh_border-top-left-radius)
    var(--mixin-uv2DN5GnCleh_border-top-right-radius)
    var(--mixin-uv2DN5GnCleh_border-bottom-right-radius)
    var(--mixin-uv2DN5GnCleh_border-bottom-left-radius);
  padding: var(--mixin-uv2DN5GnCleh_padding-top)
    var(--mixin-uv2DN5GnCleh_padding-right)
    var(--mixin-uv2DN5GnCleh_padding-bottom)
    var(--mixin-uv2DN5GnCleh_padding-left);
  border-top: var(--mixin-uv2DN5GnCleh_border-top-width)
    var(--mixin-uv2DN5GnCleh_border-top-style)
    var(--mixin-uv2DN5GnCleh_border-top-color);
  border-right: var(--mixin-uv2DN5GnCleh_border-right-width)
    var(--mixin-uv2DN5GnCleh_border-right-style)
    var(--mixin-uv2DN5GnCleh_border-right-color);
  border-bottom: var(--mixin-uv2DN5GnCleh_border-bottom-width)
    var(--mixin-uv2DN5GnCleh_border-bottom-style)
    var(--mixin-uv2DN5GnCleh_border-bottom-color);
  border-left: var(--mixin-uv2DN5GnCleh_border-left-width)
    var(--mixin-uv2DN5GnCleh_border-left-style)
    var(--mixin-uv2DN5GnCleh_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset :global(.__wab_expr_html_text) ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-Pi0ooO0eRstBx_display);
  flex-direction: var(--mixin-Pi0ooO0eRstBx_flex-direction);
  align-items: var(--mixin-Pi0ooO0eRstBx_align-items);
  justify-content: var(--mixin-Pi0ooO0eRstBx_justify-content);
  list-style-position: var(--mixin-Pi0ooO0eRstBx_list-style-position);
  padding-left: var(--mixin-Pi0ooO0eRstBx_padding-left);
  position: var(--mixin-Pi0ooO0eRstBx_position);
  list-style-type: var(--mixin-Pi0ooO0eRstBx_list-style-type);
  flex-column-gap: var(--mixin-Pi0ooO0eRstBx_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset :global(.__wab_expr_html_text) ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-NH5QH7USmZwVR_display);
  flex-direction: var(--mixin-NH5QH7USmZwVR_flex-direction);
  align-items: var(--mixin-NH5QH7USmZwVR_align-items);
  justify-content: var(--mixin-NH5QH7USmZwVR_justify-content);
  list-style-position: var(--mixin-NH5QH7USmZwVR_list-style-position);
  padding-left: var(--mixin-NH5QH7USmZwVR_padding-left);
  position: var(--mixin-NH5QH7USmZwVR_position);
  list-style-type: var(--mixin-NH5QH7USmZwVR_list-style-type);
  flex-column-gap: var(--mixin-NH5QH7USmZwVR_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset :global(.__wab_expr_html_text) h5),
:where(.root_reset.plasmic_default__h5) {
  color: var(--mixin-ujHgTQE1sJOA2_color);
  font-size: var(--mixin-ujHgTQE1sJOA2_font-size);
  font-weight: var(--mixin-ujHgTQE1sJOA2_font-weight);
  letter-spacing: var(--mixin-ujHgTQE1sJOA2_letter-spacing);
  line-height: var(--mixin-ujHgTQE1sJOA2_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset :global(.__wab_expr_html_text) h6),
:where(.root_reset.plasmic_default__h6) {
  color: var(--mixin-1SLoZv0yTeIAP_color);
  font-size: var(--mixin-1SLoZv0yTeIAP_font-size);
  font-weight: var(--mixin-1SLoZv0yTeIAP_font-weight);
  line-height: var(--mixin-1SLoZv0yTeIAP_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset :global(.__wab_expr_html_text) a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-HGMwdUSIkcFpI_color);
}

:where(.root_reset .plasmic_default__li),
:where(.root_reset .li),
:where(.root_reset :global(.__wab_expr_html_text) li),
:where(.root_reset.plasmic_default__li) {
}

:where(.root_reset .plasmic_default__p),
:where(.root_reset .p),
:where(.root_reset :global(.__wab_expr_html_text) p),
:where(.root_reset.plasmic_default__p) {
}
