.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #000000;
  min-width: 0;
  min-height: 0;
}
.headerLogged:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 1029px) {
  .headerLogged:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .headerLogged:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.headerLoggededitar:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (max-width: 1029px) {
  .headerLoggededitar:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-shrink: 1;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 3 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 9 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.columnseditar {
  flex-direction: row;
  flex-wrap: nowrap;
  flex-row-gap: 0px;
}
.columnseditar > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 3 / 12);
}
.columnseditar > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 9 / 12);
}
@media (max-width: 1029px) {
  .columnseditar > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 3 / 12);
  }
}
@media (max-width: 1029px) {
  .columnseditar > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 9 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columnseditar > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columnseditar > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 9 / 12);
  }
}
.column__boKAs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.columneditar__boKAsB3QAt {
  display: flex;
  border-right: 1px solid #f2ecec;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columneditar__boKAsB3QAt {
    display: flex;
  }
}
.freeBox__xuZzA {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 320px;
  min-width: 320px;
  min-height: 0;
  padding: 8px;
  border-right: 1px solid #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xuZzA {
    border-right-style: none;
  }
}
.freeBoxeditar__xuZzAb3QAt {
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxeditar__xuZzAb3QAt {
    display: flex;
  }
}
.freeBox__jjdkp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 0px;
  padding: 8px;
  border-bottom: 1px solid #ffffff;
}
.freeBoxeditar__jjdkpB3QAt {
  border-bottom-color: #ffffff;
  border-right: 1px solid #000000;
}
.userPhoto:global(.__wab_instance) {
  max-width: 200px;
  position: relative;
  min-width: 175px;
  width: 100%;
  height: 68px;
  flex-shrink: 0;
  max-height: 200px;
  min-height: 175px;
  flex-grow: 1;
}
.img___1UyG {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 115px;
}
.img___1UyG > picture > img {
  object-fit: cover;
}
.img___1UyG > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.button___0ScVj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button___0ScVj:global(.__wab_instance) {
    width: 130px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttoneditar___0ScVjB3QAt:global(.__wab_instance) {
    display: none;
  }
}
.svg__yNv7 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__szRVn {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button___4TgY3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttoneditar___4TgY3B3QAt:global(.__wab_instance) {
    display: none;
  }
}
.svg__xcCs1 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___2PUId {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__xvJuO:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttoneditar__xvJuOb3QAt:global(.__wab_instance) {
    display: none;
  }
}
.svg__jvBNf {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__zUt4N {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__hFbzL:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttoneditar__hFbzLb3QAt:global(.__wab_instance) {
    display: none;
  }
}
.svg__n1DWg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__m2TWe {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button___57AUc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttoneditar___57AUcB3QAt:global(.__wab_instance) {
    display: none;
  }
}
.svg___83Uit {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__qlWg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column___8KiRz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.columneditar___8KiRzB3QAt {
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columneditar___8KiRzB3QAt {
    display: flex;
  }
}
.freeBox__i8Yc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__bLytP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
}
.freeBoxeditar__bLytPb3QAt {
  display: none;
}
.h2__jkm0I {
  padding-left: 28px;
  padding-top: 22px;
}
.botaoEditar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__yuLv {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.iconEditar {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 20px;
  margin-left: 0px;
  align-self: center;
  left: auto;
  top: auto;
  width: 20px;
  max-height: 100%;
}
.iconEditar > picture > img {
  object-fit: cover;
}
.iconEditar > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.iconEditareditar {
  left: auto;
  top: auto;
}
.svg__ox6W6 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__s2JN3 {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBoxeditar__s2JN3B3QAt {
  padding-left: 24px;
  display: flex;
}
@media (max-width: 1029px) {
  .freeBoxeditar__s2JN3B3QAt {
    width: 100%;
    min-width: 0;
  }
}
.text__w6Ilt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.texteditar__w6IltB3QAt {
  width: 100px;
  flex-shrink: 0;
}
.textInput__bmS05:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.textInputeditar__bmS05B3QAt:global(.__wab_instance) {
  width: 800px;
  flex-shrink: 0;
}
@media (max-width: 1029px) {
  .textInputeditar__bmS05B3QAt:global(.__wab_instance) {
    width: 100%;
    max-width: 800px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .textInputeditar__bmS05B3QAt:global(.__wab_instance) {
    width: 176px;
    flex-shrink: 0;
  }
}
.svg___12K58 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__hMto {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox___00FjY {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 14px 8px 8px 24px;
}
.text__uyTig {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100px;
  padding-right: 0px;
  min-width: 40px;
  min-height: 30px;
  padding-left: 0px;
  margin-left: 0px;
}
.texteditar__uyTigb3QAt {
  width: 100px;
  flex-shrink: 0;
}
.textInput__yh73V:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 800px;
  flex-shrink: 0;
  display: none;
}
.textInputeditar__yh73Vb3QAt:global(.__wab_instance) {
  width: 100%;
  max-width: 800px;
  min-width: 0px;
  display: flex;
}
@media (max-width: 1029px) {
  .textInputeditar__yh73Vb3QAt:global(.__wab_instance) {
    width: 100%;
    max-width: 800px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .textInputeditar__yh73Vb3QAt:global(.__wab_instance) {
    width: 176px;
    flex-shrink: 0;
  }
}
.svg__eWu4R {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___9FwcC {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__nnxk3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  background: #232320;
  display: flex;
  flex-direction: row;
  padding-left: 16px;
  min-width: 0;
}
.freeBoxeditar__nnxk3B3QAt {
  display: none;
}
.text__iYnfr {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__j9MYh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 24px;
}
.text__dpHsU {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100px;
  min-width: 100px;
  min-height: 30px;
  max-height: 30px;
  padding-left: 1px;
}
.text__wjnO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  background: #232320;
  margin-left: 0px;
  min-width: 0;
  padding: 0px 0px 0px 16px;
}
.texteditar__wjnOB3QAt {
  display: none;
}
.textInput__noEqv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 800px;
  flex-shrink: 0;
  display: none;
}
.textInputeditar__noEqvB3QAt:global(.__wab_instance) {
  display: flex;
}
@media (max-width: 1029px) {
  .textInputeditar__noEqvB3QAt:global(.__wab_instance) {
    width: 100%;
    max-width: 800px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .textInputeditar__noEqvB3QAt:global(.__wab_instance) {
    width: 176px;
    flex-shrink: 0;
  }
}
.svg___87Ebt {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__zoVc3 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox___2Kc6M {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 24px;
}
.text__gPjWa {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100px;
  min-width: 100px;
  min-height: 30px;
  max-height: 30px;
}
.text__z3M3E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  background: #232320;
  margin-left: 0px;
  min-width: 0;
  padding: 0px 0px 0px 16px;
}
.texteditar__z3M3EB3QAt {
  display: none;
}
.passwordInput__klXj0:global(.__wab_instance) {
  max-width: 800px;
  position: relative;
  display: none;
}
.passwordInputeditar__klXj0B3QAt:global(.__wab_instance) {
  display: flex;
}
.svg__lKoNa {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__cJt3Y {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__uqWpR {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px 8px 8px 24px;
}
.freeBoxeditar__uqWpRb3QAt {
  display: flex;
}
.text__s7Nrt {
  position: relative;
  width: 100px;
  height: auto;
  max-width: 800px;
  padding-left: 0px;
  flex-shrink: 0;
}
.passwordInput__jwLw9:global(.__wab_instance) {
  max-width: 800px;
  position: relative;
}
.svg___1YZbu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___4Rxp {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__w7KJl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBoxeditar__w7KJlB3QAt {
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.button__yjEva:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.buttoneditar__yjEvaB3QAt:global(.__wab_instance) {
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttoneditar__yjEvaB3QAt:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.svg___4I2DS {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__pzsKu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button___2TaaV:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.buttoneditar___2TaaVb3QAt:global(.__wab_instance) {
  margin-left: 60px;
  display: flex;
}
.svg__t3WJf {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__bWfSn {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
