.root {
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  background: #232320;
  color: #939393;
  min-width: 0;
  border-radius: 6px;
  padding: 7px 11px;
  border: 1px solid #717069;
}
