.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  margin-right: 0px;
  min-width: 62px;
  max-width: 178px;
  max-height: 39px;
  cursor: pointer;
  min-height: 0;
  border-radius: 15px;
  padding: 2px;
}
.root:hover {
  background: #dadada;
  box-shadow: 0px 4px 16px 0px #afabab80;
}
.root:active {
  background: #d5d5d5;
  box-shadow: 0px 4px 8px 0px #44444433;
}
.link {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #000000;
  cursor: pointer;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}
