.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 123px;
  max-width: 100%;
  background: #000000;
  position: relative;
  min-width: 0;
  padding: 8px 39px 8px 8px;
  border-bottom: 1px solid #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 430px;
    padding-right: 3px;
    align-items: center;
    justify-content: center;
  }
}
.header:global(.__wab_instance) {
  max-width: 100%;
  width: 1107px;
  flex-shrink: 0;
}
@media (max-width: 1029px) {
  .header:global(.__wab_instance) {
    margin-right: 0px;
    width: 692px;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .header:global(.__wab_instance) {
    width: 188px;
    flex-shrink: 0;
  }
}
.miniMenuPerfil:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__eYa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 50px;
}
.img__eYa > picture > img {
  object-fit: cover;
}
.img__eYa > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.option__czp8O:global(.__wab_instance) {
  position: relative;
}
.link___60Ew8 {
  color: #d3d3d3;
}
.option__fIm76:global(.__wab_instance) {
  position: relative;
}
.option___8K9Xi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: flex;
}
.link__yjjEz {
  color: #d3d3d3;
}
