.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  background: #000000;
  min-width: 0;
  min-height: 0;
}
.headerLogged:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.columns__qSb7M {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__qSb7M > :nth-child(6n + 1) {
  width: calc((100% - 6 * 0px) * 2 / 12);
}
.columns__qSb7M > :nth-child(6n + 2) {
  width: calc((100% - 6 * 0px) * 2 / 12);
}
.columns__qSb7M > :nth-child(6n + 3) {
  width: calc((100% - 6 * 0px) * 2 / 12);
}
.columns__qSb7M > :nth-child(6n + 4) {
  width: calc((100% - 6 * 0px) * 2 / 12);
}
.columns__qSb7M > :nth-child(6n + 5) {
  width: calc((100% - 6 * 0px) * 2 / 12);
}
.columns__qSb7M > :nth-child(6n + 6) {
  width: calc((100% - 6 * 0px) * 2 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qSb7M {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qSb7M > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__jZlL {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.medalha__gtMio:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__o5J0 {
  padding-right: 14px;
  padding-left: 8px;
}
.text__pQts {
  padding-left: 8px;
}
.column__zr5AU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.medalha__mrIqA:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__yUff {
  padding-right: 14px;
  padding-left: 8px;
}
.text__x1Gd6 {
  padding-left: 8px;
}
.column__h3HtH {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.medalha___0C7Zk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__ewLfA {
  padding-right: 14px;
  padding-left: 8px;
}
.text__pHcd {
  padding-left: 8px;
}
.column__a63RL {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.medalha__g3O:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__zcXv {
  padding-right: 14px;
  padding-left: 8px;
}
.text__egZwa {
  padding-left: 8px;
}
.column__jaXuC {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.medalha___7QrZ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__s5EC {
  padding-right: 14px;
  padding-left: 8px;
}
.text__kwAq {
  padding-left: 8px;
}
.column__zuEGs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.medalha__kaC4O:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__mzD0 {
  padding-right: 14px;
  padding-left: 8px;
}
.text___6BeGa {
  padding-left: 8px;
}
.columns__nvFmq {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__nvFmq > :nth-child(6n + 1) {
  width: calc((100% - 6 * 0px) * 2 / 12);
}
.columns__nvFmq > :nth-child(6n + 2) {
  width: calc((100% - 6 * 0px) * 2 / 12);
}
.columns__nvFmq > :nth-child(6n + 3) {
  width: calc((100% - 6 * 0px) * 2 / 12);
}
.columns__nvFmq > :nth-child(6n + 4) {
  width: calc((100% - 6 * 0px) * 2 / 12);
}
.columns__nvFmq > :nth-child(6n + 5) {
  width: calc((100% - 6 * 0px) * 2 / 12);
}
.columns__nvFmq > :nth-child(6n + 6) {
  width: calc((100% - 6 * 0px) * 2 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nvFmq {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nvFmq > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__oEe1H {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.medalha__et6Lc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text___2RD {
  padding-right: 14px;
  padding-left: 8px;
}
.text___5KdA {
  padding-left: 8px;
}
.column__eaS9K {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.medalha__dfvej:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__vMqJj {
  padding-right: 14px;
  padding-left: 8px;
}
.text__czrjl {
  padding-left: 8px;
}
.column__vKSh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.medalha__fJbWo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__smg24 {
  padding-right: 14px;
  padding-left: 8px;
}
.text__x3L8N {
  padding-left: 8px;
}
.column___2FUz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.medalha__ux9E:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__ggQT {
  padding-right: 14px;
  padding-left: 8px;
}
.text__kiBc {
  padding-left: 8px;
}
.column__hmikX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.medalha__seRTw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__vDEq {
  padding-right: 14px;
  padding-left: 8px;
}
.text__mjnei {
  padding-left: 8px;
}
.column__vqqWb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.medalha__nwnkw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__mCXq5 {
  padding-right: 14px;
  padding-left: 8px;
}
.text___1JXba {
  padding-left: 8px;
}
