.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #000000;
  padding-bottom: 0px;
  overflow: auto;
  min-width: 0;
  min-height: 0;
}
.freeBox__cttTr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.header:global(.__wab_instance) {
  flex-shrink: 0;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  flex-shrink: 1;
  flex-wrap: nowrap;
  align-self: center;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 7 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 5 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__ya5E1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
  border-right: 1px solid #ffffff;
}
@media (max-width: 1029px) {
  .column__ya5E1 {
    border-width: 0em;
  }
}
.freeBox__dfwWr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  margin: 78px 0px 82px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dfwWr {
    margin-right: 0px;
    margin-left: 0px;
    height: 832px;
    margin-top: 22px;
    flex-shrink: 0;
  }
}
.helpingHand:global(.__wab_instance) {
  max-width: 100%;
  width: 499px;
}
.freeBox__ecuMz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 38px;
  min-width: 0;
  padding: 8px;
}
.text__qiixT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__p62Fe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__yHse2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column__zAoFt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
  border-left: 1px solid #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__zAoFt {
    border-left-style: none;
  }
}
.freeBox__ygCQ {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.entrar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg__lKvAn {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__uAtfg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 40px;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uChVt {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__ePeiY {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__yZiD {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: #000000;
  border-radius: 5px;
  padding: 50px;
  border: 1px solid #ffffff;
}
.freeBox__eWbh7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 4px;
  flex-shrink: 0;
  left: auto;
  top: auto;
  align-self: stretch;
  min-width: 0;
  padding: 8px 8px 8px 1px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eWbh7 {
    left: auto;
    top: auto;
  }
}
.email:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin: 0px 0px 30px;
}
.svg___208Dr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__ro8Ud {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.senha:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__bth8Z {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__u7VuU {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.confirma:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 200px;
  height: 70px;
  flex-shrink: 0;
  display: flex;
  margin: 30px 0px 0px;
}
.svg__akdmM {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__hRy5W {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__xpxS5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  margin-top: 20px;
  min-width: 0;
}
.link {
  color: #0076ff;
  text-decoration-line: underline;
}
