.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #000000;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding-right: 0px;
  }
}
.headerLogged:global(.__wab_instance) {
  position: relative;
  margin-right: 0px;
  flex-shrink: 0;
}
@media (max-width: 1029px) {
  .headerLogged:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .headerLogged:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
    flex-shrink: 0;
  }
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  background: #000000;
  flex-shrink: 1;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
  border-top: 1px solid #ffffff;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 3 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 9 / 12);
}
@media (max-width: 1029px) {
  .columns {
    flex-direction: row;
    flex-wrap: nowrap;
    flex-row-gap: 0px;
  }
}
@media (max-width: 1029px) {
  .columns > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 4 / 12);
  }
}
@media (max-width: 1029px) {
  .columns > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 8 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0px;
    min-width: 0;
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__i9PRf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
  border-right: 1px solid #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__i9PRf {
    padding-bottom: 0px;
  }
}
.botoesMenuPrincipal:global(.__wab_instance) {
  position: relative;
  margin-right: 0px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .botoesMenuPrincipal:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.column__zcO1G {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__zcO1G {
    display: none;
  }
}
.freeBox__lGp7A {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.voltar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__y69V5 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffff16;
  width: 80px;
  height: 30px;
}
.svg__swEa4 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__x6Bwe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 869px;
  max-width: 100%;
  overflow: auto;
  background: #000000;
  min-width: 0;
  flex-shrink: 0;
  padding: 50px 90px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x6Bwe {
    display: flex;
    padding: 18px 0px 38px;
  }
}
.fotoPerfil {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 172px;
  flex-shrink: 0;
}
.fotoPerfil > picture > img {
  object-fit: cover;
}
.fotoPerfil > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__mXYz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__tgnin {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__mqV65 {
  display: flex;
  position: relative;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: auto;
  background: #000000;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mqV65 {
    height: auto;
    display: flex;
    padding: 18px 0px 38px;
  }
}
.freeBox__t5CIi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #9d9d9d;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.descricaoGrupo {
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #2b2b2b;
  min-width: 0;
}
.text__ryqci {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__dyYkB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 56px;
  min-width: 0;
}
.membros {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__fYn2E {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  margin: 0px;
}
.aceitar:global(.__wab_instance) {
  max-width: 100%;
  width: 102px;
  flex-shrink: 0;
  margin: 0px 40px 0px 0px;
}
.svg__aytEk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___5LvAy {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.recusar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin: 0px 0px 0px 40px;
}
.svg__gv7G {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__pI50B {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
