.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #000000;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootadm {
    padding-bottom: 0px;
  }
}
.headerLogged:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .headerLogged:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.headerLoggedadm:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .headerLoggedadm:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 4 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 8 / 12);
}
@media (max-width: 1029px) {
  .columns > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 4 / 12);
  }
}
@media (max-width: 1029px) {
  .columns > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 8 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.columnsadm {
  flex-direction: row;
  flex-wrap: nowrap;
  flex-row-gap: 0px;
}
.columnsadm > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 3 / 12);
}
.columnsadm > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 9 / 12);
}
@media (max-width: 1029px) {
  .columnsadm {
    flex-direction: row;
    flex-wrap: nowrap;
    flex-row-gap: 0px;
  }
}
@media (max-width: 1029px) {
  .columnsadm > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 4 / 12);
  }
}
@media (max-width: 1029px) {
  .columnsadm > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 8 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columnsadm {
    flex-shrink: 1;
    width: auto;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columnsadm > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__nqgca {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columnadm__nqgcaH6EUz {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    padding: 8px;
  }
}
.freeBox__syvFn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 320px;
  min-width: 320px;
  min-height: 0;
  padding: 8px;
  border-right: 1px solid #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__syvFn {
    border-right-style: none;
    margin-right: 0px;
    max-width: 436px;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxadm__syvFnH6EUz {
    max-width: 320px;
    min-width: 320px;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-column-gap: 0px;
    min-height: 0;
    margin: 0px;
  }
}
.freeBox___3Sqsa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 0px;
  padding: 8px;
  border-bottom: 1px solid #ffffff;
}
.userPhoto:global(.__wab_instance) {
  max-width: 200px;
  position: relative;
  min-width: 175px;
  width: 100%;
  height: 68px;
  flex-shrink: 0;
  max-height: 200px;
  min-height: 175px;
  flex-grow: 1;
}
.img__qlyY {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 115px;
}
.img__qlyY > picture > img {
  object-fit: cover;
}
.img__qlyY > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.button__gpQte:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 5px;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__gpQte:global(.__wab_instance) {
    width: 130px;
  }
}
.buttonadm__gpQteh6EUz:global(.__wab_instance) {
  display: flex;
}
.svg__aiwTt {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__l5BMe {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__hjJrc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 25px;
  width: auto;
  display: none;
}
.buttonadm__hjJrch6EUz:global(.__wab_instance) {
  display: flex;
}
.svg__ff8Gj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__m3SMt {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__yr5PM:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 30px;
  width: 210px;
  display: none;
}
.buttonadm__yr5PMh6EUz:global(.__wab_instance) {
  display: flex;
}
.svg__iylb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__lTijE {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column___9Gy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___9Gy {
    padding-right: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columnadm___9GyH6EUz {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    padding: 8px;
  }
}
.freeBox__mMjMk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxadm__mMjMkH6EUz {
    height: 100%;
    flex-shrink: 0;
    width: 800px;
    min-height: 0;
    display: flex;
  }
}
.freeBox__zRZbY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 40px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxadm__zRZbYh6EUz {
    display: flex;
  }
}
.h2__xZnN {
  padding-left: 28px;
  padding-top: 22px;
}
.button__dqFu5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__dqFu5:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.buttonadm__dqFu5H6EUz:global(.__wab_instance) {
  display: flex;
}
.svg__owJrL {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 36px;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.svg__zhlUy {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.miniaturaAmigo:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
  display: none;
}
.miniaturaAmigoadm:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .miniaturaAmigoadm:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
    flex-shrink: 0;
    display: flex;
  }
}
.img__bundb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 57px;
}
.img__bundb > picture > img {
  object-fit: cover;
}
.img__bundb > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__haT68 {
  border-bottom: 1px solid #ababab;
}
.h4__aVepN {
  text-decoration-line: underline;
}
