.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #000000;
  padding-bottom: 0px;
  overflow: auto;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootlogin {
    overflow: auto;
  }
}
.freeBox__pjoUe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBoxlogin__pjoUe7UOhc {
  height: 100%;
  min-height: 0;
}
.header:global(.__wab_instance) {
  flex-shrink: 0;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  flex-shrink: 1;
  flex-wrap: nowrap;
  align-self: center;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 7 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 5 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.columnslogin {
  height: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-row-gap: 0px;
  min-height: 0;
}
.columnslogin > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columnslogin > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columnslogin {
    flex-direction: row;
    flex-wrap: wrap-reverse;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columnslogin > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__pFFvJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
  border-right: 1px solid #ffffff;
}
@media (max-width: 1029px) {
  .column__pFFvJ {
    border-width: 0em;
  }
}
.columnlogin__pFFvJ7UOhc {
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}
.freeBox__vX7VN {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  margin: 78px 0px 82px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vX7VN {
    margin-right: 0px;
    margin-left: 0px;
    height: 832px;
    margin-top: 22px;
    flex-shrink: 0;
  }
}
.helpingHand:global(.__wab_instance) {
  max-width: 100%;
  width: 499px;
}
.freeBox__ksUMr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 38px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxlogin__ksUMr7UOhc {
    width: auto;
  }
}
.fraseMj {
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 0px;
  min-width: 0;
}
.h2__unPmu {
  padding-bottom: 11px;
}
.h1__sIcty {
  height: 269px;
}
.h3__cuPtL {
  height: auto;
}
.h2login___9GsgP7UOhc {
  padding-top: 0px;
}
.column__qfE1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
  border-left: 1px solid #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__qfE1 {
    border-left-style: none;
  }
}
.columnlogin__qfE17UOhc {
  background: #050505;
  padding: 8px 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columnlogin__qfE17UOhc {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.login:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 558px;
  flex-shrink: 0;
  display: none;
}
.loginlogin:global(.__wab_instance) {
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loginlogin:global(.__wab_instance) {
    width: auto;
  }
}
.freeBox__vter {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBoxlogin__vter7UOhc {
  display: none;
}
.button___8D1K6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 0px;
  min-width: 0;
  flex-shrink: 0;
}
.svg___7IFw6 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__t2G1 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__mauDn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 40px;
  width: 100%;
  height: 0px;
  min-width: 0;
  flex-shrink: 0;
}
.svg__wPNed {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__j5O {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
