.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #000000;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding-right: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootgrupos {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.headerLogged:global(.__wab_instance) {
  position: relative;
  margin-right: 0px;
  flex-shrink: 0;
}
@media (max-width: 1029px) {
  .headerLogged:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .headerLogged:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  background: #000000;
  flex-shrink: 1;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
  border-top: 1px solid #ffffff;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 3 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 9 / 12);
}
@media (max-width: 1029px) {
  .columns {
    flex-direction: row;
    flex-wrap: nowrap;
    flex-row-gap: 0px;
  }
}
@media (max-width: 1029px) {
  .columns > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 4 / 12);
  }
}
@media (max-width: 1029px) {
  .columns > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 8 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0px;
    min-width: 0;
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.columnsmetas > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 3 / 12);
}
.columnsmetas > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 9 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columnsmetas > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.columnsgrupos > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 3 / 12);
}
.columnsgrupos > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 9 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columnsgrupos > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__xzDzp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
  border-right: 1px solid #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__xzDzp {
    padding-bottom: 0px;
  }
}
.columnmetas__xzDzphKOvR {
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columnmetas__xzDzphKOvR {
    display: none;
  }
}
.columngrupos__xzDzpMLdjO {
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columngrupos__xzDzpMLdjO {
    display: none;
  }
}
.freeBox__vxAzA {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 328px;
  height: 374px;
  max-width: 100%;
  margin-right: 0px;
  overflow: auto;
  background: #000000;
  flex-shrink: 0;
  padding: 21px 8px 8px;
}
.freeBox__vxAzA > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__vxAzA > :global(.__wab_flex-container) > *,
.freeBox__vxAzA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vxAzA > :global(.__wab_flex-container) > picture > img,
.freeBox__vxAzA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vxAzA {
    height: 362px;
    flex-shrink: 0;
  }
}
.freeBox__g29S5 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.sinoNotificacao:global(.__wab_instance) {
  width: 100%;
  max-width: 52px;
  min-width: 0;
}
.minhasMetas:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__k2Qub {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.h4__uIkXa {
  height: auto;
}
.svg__i2LDc {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.meusGrupos:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__iGsO {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__rcAaf {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.criarMeta:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___3U3Z8 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.h4__pwNU {
  height: auto;
}
.svg___0JJtl {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.criarGrupo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .criarGrupo:global(.__wab_instance) {
    display: flex;
  }
}
.svg___3Ht3J {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__at5EP {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__sPnqS {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__sPnqS {
    display: none;
  }
}
.columnmetas__sPnqShKOvR {
  display: flex;
}
.columngrupos__sPnqSmLdjO {
  display: flex;
}
.mainPageButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.mainPageButtonmetas:global(.__wab_instance) {
  width: 323px;
  height: 50px;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mainPageButtonmetas:global(.__wab_instance) {
    display: flex;
  }
}
.svg__llNiW {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__yo92Y {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__kXoCy {
  display: flex;
  position: relative;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 869px;
  max-width: 100%;
  overflow: auto;
  background: #000000;
  min-width: 0;
  flex-shrink: 0;
  padding: 50px 90px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kXoCy {
    display: flex;
    padding: 18px 0px 38px;
  }
}
.miniaturaMeta__hu97B:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.miniaturaMetametas__hu97BhKOvR:global(.__wab_instance) {
  display: flex;
}
.img___518By {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 34px;
}
.img___518By > picture > img {
  object-fit: cover;
}
.img___518By > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.miniaturaMeta__qmnXn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 55px;
  display: none;
}
.miniaturaMetametas__qmnXnhKOvR:global(.__wab_instance) {
  display: flex;
}
.img__xsDBh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 34px;
}
.img__xsDBh > picture > img {
  object-fit: cover;
}
.img__xsDBh > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.miniaturaMeta__gmczo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 55px;
  display: none;
}
.miniaturaMetametas__gmczohKOvR:global(.__wab_instance) {
  display: flex;
}
.img__eogs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 34px;
}
.img__eogs > picture > img {
  object-fit: cover;
}
.img__eogs > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.miniaturaGrupo___7Rd5L:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
  display: none;
}
.miniaturaGrupogrupos___7Rd5LmLdjO:global(.__wab_instance) {
  flex-shrink: 0;
  display: flex;
}
.img__f9Xqo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 34px;
}
.img__f9Xqo > picture > img {
  object-fit: cover;
}
.img__f9Xqo > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h4___28Kw {
  padding-left: 16px;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}
.miniaturaGrupo___9S3MZ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
  display: none;
  margin: 0px 0px 80px;
}
.miniaturaGrupogrupos___9S3MZmLdjO:global(.__wab_instance) {
  flex-shrink: 0;
  display: flex;
}
.img__mANn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 34px;
}
.img__mANn > picture > img {
  object-fit: cover;
}
.img__mANn > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h4__tD2WL {
  padding-left: 16px;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}
.miniaturaGrupo__vkx0G:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
  display: none;
  margin: 0px 0px 80px;
}
.miniaturaGrupogrupos__vkx0GMLdjO:global(.__wab_instance) {
  flex-shrink: 0;
  display: flex;
}
.img__kSr6J {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 34px;
}
.img__kSr6J > picture > img {
  object-fit: cover;
}
.img__kSr6J > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h4__mxt73 {
  padding-left: 16px;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}
