.root {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #000000;
  margin-bottom: 40px;
  min-width: 0;
  border-radius: 6px;
  padding: 8px;
  border: 1px solid #d3d3d3;
}
.freeBox__j9ScW {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___5FjU {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  border-bottom: 1px solid #d3d3d3;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.nome {
  color: #ffffff;
}
.medalha:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.medalhacomMedalha:global(.__wab_instance) {
  display: flex;
}
.text__rt8Av {
  padding-right: 14px;
  padding-left: 8px;
  color: #ffffff;
}
.text__ydVU {
  padding-left: 8px;
}
.sequenciaHabito {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #888888;
  min-width: 0;
}
.sequenciaHabitocomMedalha {
  display: none;
}
.sequenciaHabitotipo_habito_comMedalha {
  display: block;
}
.sequenciaVicio {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #888888;
  min-width: 0;
}
.sequenciaViciotipo_habito {
  display: none;
}
.sequenciaViciocomMedalha {
  display: none;
}
.sequenciaViciotipo_vicio_comMedalha {
  display: block;
}
.registra:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.svg__lvP4F {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__dMbt8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
  display: none;
}
.svgtipo_vicio__dMbt854S {
  display: block;
}
.svg__nhJiK {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
  display: none;
}
.svgtipo_habito__nhJiKfpvrz {
  display: block;
}
.svgtipo_vicio__nhJiK54S {
  display: none;
}
.svg__gsMA {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
